<script type="text/javascript">
  <% if @page == "admin" %>
    $("#menu6").attr('class', 'current');
  <% end %>
</script>
<div class="co_container">
  <!-- ----------- Order List Start ------------ -->
  <div class="co_content">
    <h2>訂單列表 </h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>生成時間</th>

        </tr>
      </thead>
      <tbody>

        <% @orders.each do |order| %>
        <tr>
          <td> <%= link_to(order.id, order_path(order.token)) %> </td>
          <td> <%= order.created_at.to_s(:long) %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>





<!-- ====================== -->



