#lp-pom-root {
 display:block;
 background:rgba(255,255,255,1);
 -pie-background:rgba(255,255,255,1);
 border-style:none;
 margin:auto;
 padding-top:0px;
 behavior:url(/PIE.htc);
 border-radius:0px;
 min-width:940px;
 height:1980px;
}
#lp-pom-block-8 {
 display:block;
 background:rgba(0,0,0,0.5);
 background-image: image-url("cofe1.jpg");
 background-attachment:fixed;
 background-repeat:no-repeat;
 background-position:center center;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size:cover;
 -ms-behavior:url(/backgroundsize.min.htc);
 behavior:url(/backgroundsize.min.htc);
 border-style:none;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:0px;
 border-radius:0px;
 width:100%;
 height:600px;
 position:relative;
}
#lp-pom-image-20 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 left:20px;
 top:20px;
 z-index:11;
 position:absolute;
}
#lp-pom-text-21 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:193px;
 top:207px;
 z-index:10;
 width:553px;
 height:43px;
 position:absolute;
}
.lp-pom-button-22 {
 display:block;
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:50px;
 z-index:9;
 width:60px;
 height:60px;
 position:absolute;
 box-shadow:none;
 text-shadow:none;
 color:#fff;
 border-width:undefinedpx;
 border-color:#undefined;
 font-size:16px;
 line-height:19px;
 font-weight:normal;
 font-family:PT Sans;
 text-align:center;
 background-repeat:no-repeat;
 top: -5px;
 border-style: solid;
 border-width: 2px;
 border-color: white;
 text-decoration: none;
}
.p-pom-box-common {
  -pie-background:rgba(238,133,20,1);
  border-style:none;
  behavior:url(/PIE.htc);
  z-index:8;
  width:60px;
  height:60px;
  position:absolute;
  border-radius:50px;
  margin-left: 20%;
}
#lp-pom-box-home {
 top:80px;
}
#lp-pom-box-product {
 top:180px;
}
#lp-pom-box-shop {
 top:280px;
}
#lp-pom-box-user {
 top:380px;
}
#lp-pom-box-login {
 top:380px;
}
#lp-pom-box-facebook {
 top:480px;
}
#lp-pom-block-9 {
 display:block;
 background:rgba(255,255,255,1);
 -pie-background:rgba(255,255,255,1);
 border-style:none;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:0px;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:100%;
 height:450px;
 position:relative;
}
#lp-pom-box-13 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:53px;
 top:123px;
 z-index:1;
 width:834px;
 height:258px;
 position:absolute;
}
#lp-pom-image-14 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 left:0px;
 top:0px;
 z-index:5;
 position:absolute;
}
#lp-pom-image-15 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 left:317px;
 top:0px;
 z-index:3;
 position:absolute;
}
#lp-pom-image-16 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 left:634px;
 top:0px;
 z-index:2;
 position:absolute;
}
#lp-pom-text-24 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:43px;
 top:220px;
 z-index:4;
 width:113px;
 height:44px;
 position:absolute;
}
#lp-pom-text-25 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:360px;
 top:220px;
 z-index:6;
 width:113px;
 height:44px;
 position:absolute;
}
#lp-pom-text-26 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:677px;
 top:220px;
 z-index:7;
 width:113px;
 height:44px;
 position:absolute;
}
#lp-pom-text-23 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:149px;
 top:69px;
 z-index:12;
 width:642px;
 height:34px;
 position:absolute;
}
#lp-pom-block-10 {
 display:block;
 background:rgba(0,0,0,0.3);
 background-image: image-url("cofe4.jpg");
 background-attachment:fixed;
 background-repeat:no-repeat;
 background-position:center center;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size:cover;
 -ms-behavior:url(/backgroundsize.min.htc);
 behavior:url(/backgroundsize.min.htc);
 border-style:none;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:0px;
 border-radius:0px;
 width:100%;
 height:450px;
 position:relative;
}
#lp-pom-text-27 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:149px;
 top:586px;
 z-index:14;
 width:642px;
 height:34px;
 position:absolute;
}
#lp-pom-text-28 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:40px;
 top:640px;
 z-index:13;
 width:860px;
 height:124px;
 position:absolute;
}
#lp-pom-block-11 {
 display:block;
 background:rgba(255,255,255,1);
 -pie-background:rgba(255,255,255,1);
 border-style:none;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:0px;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:100%;
 height:450px;
 position:relative;
}
#lp-pom-image-19 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 left:420px;
 top:1736px;
 z-index:16;
 position:absolute;
}
#lp-pom-text-29 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:40px;
 top:1028px;
 z-index:17;
 width:860px;
 height:87px;
 position:absolute;
}
#lp-pom-text-30 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:335px;
 top:1846px;
 z-index:15;
 width:270px;
 height:31px;
 position:absolute;
}
#lp-pom-image-32 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 left:355px;
 top:1173px;
 z-index:18;
 position:absolute;
}
#lp-pom-block-42 {
 display:block;
 background:rgba(255,255,255,1);
 -pie-background:rgba(255,255,255,1);
 border-style:none;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:0px;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:100%;
 height:30px;
 position:relative;
}
#lp-pom-text-43 {
 display:block;
 background:rgba(255,255,255,0);
 -pie-background:rgba(255,255,255,0);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 left:229px;
 top:1950px;
 z-index:19;
 width:481px;
 height:22px;
 position:absolute;
}
#lp-pom-root .lp-positioned-content {
 top:0px;
 width:940px;
 margin-left:-470px;
}
#lp-pom-block-8 .lp-pom-block-content {
 margin-left:auto;
 margin-right:auto;
 height:100%;

float:left;
width:80%;
overflow:hidden;
}
#lp-pom-block-8 .nav_right {
 margin-left:auto;
 margin-right:auto;
 height:100%;

float:left;
width:20%;
overflow:hidden;
}
#lp-pom-block-9 .lp-pom-block-content {
 margin-left:auto;
 margin-right:auto;
 width:940px;
 height:450px;
}
#lp-pom-block-10 .lp-pom-block-content {
 margin-left:auto;
 margin-right:auto;
 width:940px;
 height:450px;
}
#lp-pom-block-11 .lp-pom-block-content {
 margin-left:auto;
 margin-right:auto;
 width:940px;
 height:450px;
}
#lp-pom-image-14 .lp-pom-image-container {
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:200px;
 height:200px;
}
#lp-pom-image-14 .lp-pom-image-container img {
 width:200px;
 height:200px;
}
#lp-pom-image-15 .lp-pom-image-container {
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:200px;
 height:200px;
}
#lp-pom-image-15 .lp-pom-image-container img {
 width:200px;
 height:200px;
}
#lp-pom-image-16 .lp-pom-image-container {
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:200px;
 height:200px;
}
#lp-pom-image-16 .lp-pom-image-container img {
 width:200px;
 height:200px;
}
#lp-pom-image-19 .lp-pom-image-container {
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:100px;
 height:100px;
}
#lp-pom-image-20 .lp-pom-image-container {
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:185px;
 height:40px;
}
#lp-pom-image-20 .lp-pom-image-container img {
 width:185px;
 height:40px;
}
.lp-pom-button-22:hover {
 background-color:#012350;
 box-shadow:none;
 color:#fff;
 text-decoration: none;
}
.lp-pom-button-22:active {
 background-color:#C3CA60;
 box-shadow:none;
 color:#fff;
 text-decoration: none;
}
.lp-pom-button-22 .label {
 margin-top: 10px;
 top: 20px;
 height: 60px;
 font-size: 20px;
 font-weight: 900;
 font-family: georgia, serif;
 position:relative;
 text-decoration: none;
}
#lp-pom-image-32 .lp-pom-image-container {
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:0px;
 width:300px;
 height:500px;
}
#lp-pom-image-32 .lp-pom-image-container img {
 width:300px;
 height:500px;
}
#lp-pom-block-42 .lp-pom-block-content {
 margin-left:auto;
 margin-right:auto;
 width:940px;
 height:30px;
}
#lp-pom-root-color-overlay {
 position:absolute;
 background:none;
 top:0;
 width:100%;
 height:1980px;
 min-height:100%;
}
#lp-pom-block-8-color-overlay {
 position:absolute;
 background:rgba(0,0,0,0.5);
 -pie-background:rgba(0,0,0,0.5);
 behavior:url(/PIE.htc);
 height:600px;
 width:100%;;
}
#lp-pom-block-9-color-overlay {
 position:absolute;
 background:none;
 height:450px;
 width:100%;;
}
#lp-pom-block-10-color-overlay {
 position:absolute;
 background:rgba(0,0,0,0.3);
 -pie-background:rgba(0,0,0,0.3);
 behavior:url(/PIE.htc);
 height:450px;
 width:100%;;
}
#lp-pom-block-11-color-overlay {
 position:absolute;
 background:none;
 height:450px;
 width:100%;;
}
#lp-pom-box-13-color-overlay {
 position:absolute;
 background:none;
 height:258px;
 width:834px;
}

#lp-pom-block-42-color-overlay {
 position:absolute;
 background:none;
 height:30px;
 width:100%;;
}
@media only screen and (max-width: 600px) {

#lp-pom-box-41 {
 left:40px;
 top:342px;
 display:block;
 background:rgba(238,133,20,1);
 -pie-background:rgba(238,133,20,1);
 border-style:none;
 behavior:url(/PIE.htc);
 border-radius:5px;
 z-index:8;
 width:240px;
 height:60px;
 position:absolute;
}
#lp-pom-image-19 .lp-pom-image-container img {
 width:500px;
 height:500px;
}
#lp-pom-box-41-color-overlay {
 position:absolute;
 background:none;
 border-radius:5px;
 behavior:url(/PIE.htc);
 height:60px;
 width:240px;
}
#hover-content {
    display:none;
}
#parent:hover #hover-content {
    display:block;
}
}
