<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="lp-version" content="v5.9.7">
      <!--426ba6fa-1a29-4e75-b455-30c004669e65 a-->
<title>A la Carte (Click Through)</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style title="page-styles" type="text/css" data-page-type="main_desktop">
body {
 color:#8f2831;
}
a {
 color:#eea914;
 text-decoration:none;
}
</style>
<!-- lp:insertions start head -->
<link href="//builder-assets.unbounce.com/published/page-defaults-c331178.z.css" rel="stylesheet" media="screen" type="text/css" />

<meta property='og:title' content='A la Carte (Click Through)'/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="//d2xxq4ijfwetlm.cloudfront.net/m/lp-webapp/api/unbounce.js"></script>
<script type="text/javascript">
window.ub.page.id = "426ba6fa-1a29-4e75-b455-30c004669e65";
window.ub.page.variantId = "a";
window.ub.page.usedAs = "main";
window.ub.page.name = "A la Carte (Click Through)";
window.ub.page.url = "http://unbouncepages.com/a-la-carte-click-through-556570/";
</script>
<script type="text/javascript">
var lp = lp || {};
lp.jQuery = jQuery.noConflict( true );
</script>

<script src="//builder-assets.unbounce.com/modules/lp-block/public/main-90cd9cc.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/published/matchMedia-ba7af92.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-image/public/main-8ff2ac3.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-text/public/main-784af76.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-button/public/main-45fdb51.z.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
lp = lp || {};
lp.webFontLoad = {
  google: {
    families: ['PT Sans:400,400italic,700,700italic','PT Sans:400,400italic,700,700italic']
  },
  active: function() {
   if(lp && lp.text && typeof lp.text.fixTextHeights === "function")  {
     lp.text.fixTextHeights();
   }
  }
};
window.WebFont.load(lp.webFontLoad);
</script>
<!--[if IE 7]>
<script>
(function() {
  var sheet = document.styleSheets[1];
  var rules = sheet.rules;
  var rule;
  var index = -1;
  for (var i=0, l=rules.length; i<l; i++){
    rule = rules[i];
    if (rule.selectorText.toLowerCase() == 'div.lp-pom-root .lp-pom-text span') {
      index = i;
      break;
    }
  }
  if (index > -1) {
    sheet.removeRule(index);
    sheet.addRule('div.lp-pom-root .lp-pom-text span', 'line-height:inherit');
  }
})();
</script>
<![endif]-->

<script src="//builder-assets.unbounce.com/published/ub-browser-879f873.z.js" type="text/javascript"></script>

<!-- lp:insertions end head -->
</head>
<body class="lp-pom-body ">
<!-- lp:insertions start body:before -->
<!-- lp:insertions end body:before -->
<div class="lp-element lp-pom-root" id="lp-pom-root">
  <div id="lp-pom-root-color-overlay"></div>
  <div class="lp-positioned-content">
    <div class="lp-element lp-pom-box" id="lp-pom-box-13">
      <div id="lp-pom-box-13-color-overlay"></div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-14">
        <div class="lp-pom-image-container" style="overflow: hidden;">
          <%= image_tag "cofe4.png" %>
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-15">
        <div class="lp-pom-image-container" style="overflow: hidden;">
          <%= image_tag "cofe3_c.png" %>
        </div>
      </div>
      <div class="lp-element lp-pom-image" id="lp-pom-image-16">
        <div class="lp-pom-image-container" style="overflow: hidden;">
          <%= image_tag "logo_c.png" %>
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-24">
        <div class="lplh-22" style="text-align: center;">
          <span style="font-size:18px;">
            <strong><span style="font-family:pt sans;">Hot product</span></strong>
          </span>
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-25">
        <div class="lplh-22" style="text-align: center;">
          <span style="font-size:18px;">
            <strong><span style="font-family:pt sans;">Hot product</span></strong>
          </span>
        </div>
      </div>
      <div class="lp-element lp-pom-text nlh" id="lp-pom-text-26">
        <div class="lplh-22" style="text-align: center;">
          <span style="font-size:18px;">
            <strong><span style="font-family:pt sans;"></span></strong>
          </span>
        </div>
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-19">
      <div class="lp-pom-image-container" style="overflow: hidden;">
        <img src="" alt="">
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-20">
      <div class="lp-pom-image-container" style="overflow: hidden;"></div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-23">
      <h2 class="lplh-34" style="text-align: center;">
      <span style="color:#dc2d40;">
        <span style="font-family:georgia,serif; font-size:30px;">Surprise your guests with amazing cofe</span>
      </span>
      </h2>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-27">
      <h2 class="lplh-34" style="text-align: center;">
        <span style="color:#ffffff;">
          <span style="font-family:georgia,serif; font-size:30px;">烘WORK精選咖啡生豆，新鮮烘焙about</span>
        </span>
      </h2>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-28">
      <p class="lplh-31">
        <span style="color:#ffffff;"><span style="font-size:18px;">
          <span style="font-family:pt sans;">
            不添加任何香料，以健康養生概念烘焙每一粒豆子，
            以最適溫度手作烘焙 掌握每一階段溫度控制，
            為每款豆子賦予新鮮生命。
          </span>
        </span></span>
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-29">
      <p class="lplh-29" style="text-align: center;">
        <strong><span style="font-size:24px;">
        <span style="color:#dc2d40;">
          <span style="font-family: georgia, serif;">
            How to find us?
          </span>
        </span>
        </span></strong>
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-30">
      <p class="lplh-31" style="text-align: center;">
        <strong>
          <span style="color:#a72f3a;"><span style="font-size:18px;">
            <span style="font-family:pt sans;"></span>
          </span></span>
        </strong>
      </p>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-32">
      <div class="lp-pom-image-container" style="overflow: hidden;">
        <%= image_tag "work_card.jpg" %>
      </div>
    </div>

    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-43">
      <p class="lplh-22" style="text-align: center;">
        <span style="color:#bbbbbb;"><span style="font-size:14px;">
          <span style="font-family:pt sans;">
            Copyright &copy; 2016 烘，Work. All rights reserved and other such important stuff.
          </span>
        </span></span>
      </p>
    </div>
  </div>

  <div class="lp-element lp-pom-block" id="lp-pom-block-9">
    <div id="lp-pom-block-9-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-10">
    <div id="lp-pom-block-10-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-11">
    <div id="lp-pom-block-11-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-42">
    <div id="lp-pom-block-42-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
</div>
<!-- lp:insertions start body:after -->
<script type="text/javascript">
lp.jQuery(document).ready(function() {
  var viewport = document.querySelector('meta[name="viewport"]');
  if (viewport && window.innerWidth > 600 && window.innerWidth < 1024) {
    var defaultDeviceWidth = window.innerWidth
      , defaultPageWidth   = document.getElementById('lp-pom-root').offsetWidth
      , calculatedScale    = (defaultDeviceWidth/defaultPageWidth)
      , viewportContent    = 'initial-scale='+calculatedScale+', user-scalable=yes';
    if (defaultDeviceWidth < defaultPageWidth) {
      viewport.content = viewportContent;
    }
  }
});
</script>
<script>
function disableParallaxOnMobile() {
  if (navigator.userAgent.match(/(Android|iPod|iPhone|iPad|iemobile|blackberry)/)) {
    var parallaxEls = lp.jQuery('.lp-pom-root, .lp-pom-block');
    for (i = 0; i < parallaxEls.length; i++) {
      var parallaxEl = parallaxEls[i];
      if (lp.jQuery(parallaxEl).css('background-attachment') === 'fixed') {
        parallaxEl.style['background-attachment'] = 'scroll';
      };
    };
  }
}

disableParallaxOnMobile();

window.addEventListener("orientationchange", function() {
  disableParallaxOnMobile();
}, false);
</script>

<!-- lp:insertions end body:after -->
</body>
</html>
